<mat-card>
    <h1>{{text}}</h1>
    <form #addForm="ngForm" (ngSubmit)="onSubmit()">
      <div class="example-container">
        <mat-form-field>
          <input matInput placeholder="name" [(ngModel)] = "name"
                           name = "name"
                           required #spy
                           #temp = "ngModel">
          <mat-error *ngIf="!(temp.valid || temp.pristine)">
            name is required
          </mat-error>                        
        </mat-form-field>
        <br>
        <mat-form-field>
            <input matInput placeholder="author" [(ngModel)] = "author"
                             name = "author"
                             required #spy
                             #temp = "ngModel">
            <mat-error *ngIf="!(temp.valid || temp.pristine)">
                author is required
            </mat-error>                        
          </mat-form-field>
          <br>
          <mat-form-field>
            <input matInput placeholder="body" [(ngModel)] = "body"
                             name = "body"
                             type="textarea" rows="5"
                            
                             required #spy
                             #temp = "ngModel">
            <mat-error *ngIf="!(temp.valid || temp.pristine)">
                author is required
            </mat-error>                        
          </mat-form-field>
    
        
        <div >
            <button mat-raised-button color="primary" [disabled]="!addForm.form.valid">{{text}}</button>
        </div>
        
      </div>
    </form>
    </mat-card>

  
