
<div >
  <button mat-raised-button routerLink="/addpost" routerLinkActive="active" color="primary" >Add Post</button>
</div>
<mat-accordion>
    <mat-expansion-panel *ngFor = "let post of posts$ | async">
      
      <mat-expansion-panel-header>
        <mat-panel-title>
          {{post.name}}
        </mat-panel-title>
      </mat-expansion-panel-header > 
      
      {{post.body}}
      <br>
      Author: {{post.author}}
      <div>
        <button mat-raised-button (click)=deletepost(post.id)  color="primary" >Delete </button>
       
      
        <button mat-raised-button [routerLink]="'/addpost/' + post.id" routerLinkActive="active" color="primary" >Edit </button>
      </div>
      
      
    </mat-expansion-panel>
  </mat-accordion>
