<p *ngIf = "!(listOfAuthors$ | async)">Loading...</p>
<mat-list>
    <mat-list-item *ngFor="let AuthorsList of listOfAuthors$ | async">
     <div *ngIf="AuthorsList.id == id;else other"> <h3 mat-line>{{author}}</h3></div>
      <ng-template #other><h3 mat-line > {{ AuthorsList.author }}  </h3></ng-template>
      <!-- 
      <button>
          <a mat-list-item routerLink="/editauthor/{{AuthorsList.id}}" routerLinkActive="active">edit</a>
        </button>
      -->
    </mat-list-item>

  </mat-list>

  

  <p>
    Options selected: {{AuthorsList.selectedOptions.selected.length}}
  </p>
  <!--  <p *ngIf = "!(authorsservice | async)">Loading a new author...</p> -->
  <p *ngIf = "!(listOfAuthors$ | async)">Loading a new author...</p>
